* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;

    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ==================== Common ==================== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    min-width: 144px;
    padding: 0 12px;
    background: #171100;
    border-radius: 99999px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: -0.02em;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
/* ==================== Header ==================== */
.header {
    padding: 36px 0 12px;
    background: #fffcf4;
    z-index: 9999;
}

.header.fixed {
    position: sticky;
    top: -24px;
    left: 0;
    right: 0;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav li.active {
    position: relative;
}

.nav li.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 99999px;
}

.nav a {
    --color: #171100;
    display: block;
    padding: 12px 21px;
    color: #5f5b53;
}

.nav a:hover {
    font-weight: 600;
    color: var(--color);
}

.nav a::before {
    user-select: none;
    pointer-events: none;
    content: attr(data-text);
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    font-weight: 600;
}

.signup-btn {
    margin-left: 70px;
}

/* ==================== Hero ==================== */
.hero {
    background: #fffcf4;
    padding: 52px 0 65px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .media-block {
    width: 49%;
    position: relative;
}

.hero .media-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .media-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.hero .summary-item {
    display: flex;
    align-items: center;
}

.hero .summary-item + .summary-item {
    margin-top: 18px;
}

.hero .summary-item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--bg-color, #ccc);
    display: flex;
    margin-right: 16px;
}

.summary-item .icon img {
    margin: auto;
}

.hero .summary-content .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 185.714%;
}

.hero .summary-content .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 166.667% */
}

.hero .content-block {
    width: 51%;
    padding-left: 130px;
}

.hero .content-block .heading {
    min-width: 470px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 117.241%;
    letter-spacing: -0.02em;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 166.667%; /* 166.667% */
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.content-block .cta-btn {
    min-width: 180px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.8rem;
    line-height: 64px;
}

.content-block .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.content-block .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.content-block .btn-play {
    display: flex;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 16px 32px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: none;
}

.content-block .btn-play .icon {
    color: var(--primary-color);
    margin: auto;
}

.content-block .desc.engagement {
    margin-top: 48px;
}

.content-block .desc.stats {
    margin-top: 14px;
}

.content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    margin-right: 6px;
}

.content-block .stats strong:last-child {
    margin-left: 28px;
}

/* ==================== Popular ==================== */
.popular {
    padding: 200px 0;
    background: #fff;
}

.popular-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-head .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 166.667%; /* 166.667% */
}

.popular-head .control {
    display: flex;
    gap: 16px;
}

.popular-head .control .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.popular-head .control .icon:hover {
    background: var(--primary-color);
    color: #fff;
}

.popular-course {
    display: flex;
    margin-top: 55px;
    overflow: auto;
}

.popular-course .course-item {
    flex-shrink: 0;
    width: calc((100% - 60px) / 3);
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.course-item + .course-item {
    margin-left: 30px;
}

.popular-course .course-item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: #fff;
}

.course-item .thumb img {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .thumb:hover {
    opacity: 0.9;
}

.course-item .body {
    padding: 16px 22px 22px;
}

.course-item .item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%; /* 166.667% */
    padding-right: 24px;
}
.course-item .item-head .starts {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fea31b;
}

.course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 185.714%; /* 185.714% */
}

.course-item .item-booking {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .item-booking .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.course-item .item-booking .btn-booking {
    min-width: 118px;
    line-height: 50px;
    font-size: 1.4rem;
}

/* ==================== Feedback ==================== */
.feedback {
    background: #2e2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-info .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%; /* 141.667% */
}

.feedback-info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 185.714%; /* 185.714% */
}

.feedback-info .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback-info .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-info .dot.active {
    cursor: default;
    background: var(--primary-color);
}

.feedback-content {
    width: 63%;
}

.feedback-content blockquote {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 153.846%; /* 153.846% */
    padding-left: 30px;
}
